example/node_modules/
example/resources/example.js
example/resources/cljs-runtime
example/resources/manifest.edn

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

.cpcache
